In [20]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [26]:
data = pd.read_csv(r"C:\Users\vaibh\Downloads\archive\loan.csv")
data.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [48]:
en_data = data[["Gender", "Married"]]
en_data

     Gender Married
0      Male      No
1      Male     Yes
2      Male     Yes
3      Male     Yes
4      Male      No
..      ...     ...
609  Female      No
610    Male     Yes
611    Male     Yes
612    Male     Yes
613  Female      No

[614 rows x 2 columns]

In [23]:
pd.get_dummies(en_data).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Gender_Female  614 non-null    bool
 1   Gender_Male    614 non-null    bool
 2   Married_No     614 non-null    bool
 3   Married_Yes    614 non-null    bool
dtypes: bool(4)
memory usage: 2.5 KB

In [35]:
data = pd.read_csv(r"C:\Users\vaibh\Downloads\archive\loan.csv")
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
ar = ohe.fit_transform(en_data).toarray()
pd.DataFrame(ar, columns=["Gender_Female","Gender_Male","Married_No","Married_Yes"])

ValueError: Shape of passed values is (614, 6), indices imply (614, 4)

In [43]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Load your data
data = pd.read_csv(r"C:\Users\vaibh\Downloads\archive\loan.csv")

# Assuming 'en_data' is a DataFrame containing the columns you want to encode
# For example:
# en_data = data[['Gender', 'Married']]  # Define en_data properly

ohe = OneHotEncoder(drop="first")
ar = ohe.fit_transform(en_data).toarray()

# Use get_feature_names_out to get the correct column names dynamically
encoded_df = pd.DataFrame(ar, columns=ohe.get_feature_names_out())

# Display the DataFrame
print(encoded_df.head())

   Gender_Male  Gender_nan  Married_Yes  Married_nan
0          1.0         0.0          0.0          0.0
1          1.0         0.0          1.0          0.0
2          1.0         0.0          1.0          0.0
3          1.0         0.0          1.0          0.0
4          1.0         0.0          0.0          0.0

In [44]:
encoded_df = encoded_df.loc[:, ~encoded_df.columns.str.contains('nan')]

# Display the cleaned DataFrame
print(encoded_df.head())

   Gender_Male  Married_Yes
0          1.0          0.0
1          1.0          1.0
2          1.0          1.0
3          1.0          1.0
4          1.0          0.0

In [45]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y